.white-architecture-about-news-section {
  background-color: black;
  color: #c6c6c6;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  div {
    height: fit-content;
  }
}

.centered-image {
  width: 100%;
  /* Full width */
  height: 100%;
  /* height: 100vh; Full height */
  object-fit: cover;
  /* Crop sides */
  object-position: center;
  /* Keep center in focus */
}

.content-header {
  color: #6b6b6c;
}

.about-content-wrapper {
  width: 32%;
  display: flex;
  flex-direction: column;
  padding-left: 30rem;
  color: #616263;

  a {
    color: #616263;
    border-bottom: 1px solid;
    width: 30%;
    padding-top: 35px;
  }
}


.news-data-container {
  display: flex;
  overflow-y: auto;
}

::-webkit-scrollbar {
  display: none;
}


.news-container {
  padding-left: 150px;
  padding-top: 100px;
}

.news-detail-card {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

/* Responsive styles */
@media (max-width: 1200px) {
  .about-content-wrapper {
    width: 50%;
    padding-left: 20rem;
  }

  .about-content-wrapper a {
    width: 50%;
  }

  .news-container {
    padding-left: 100px;
    padding-top: 80px;
  }

  .news-detail-card img {
    width: 80%;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .about-content-wrapper {
    width: 70%;
    padding-left: 10rem;
  }

  .about-content-wrapper a {
    width: 70%;
  }

  .news-container {
    padding-left: 50px;
    padding-top: 50px;
  }

  .news-detail-card {
    padding: 30px;
    min-width: 70%;
  }

  .news-detail-card img {
    width: 90%;
    height: 75%;
  }
}

@media (max-width: 480px) {
  .about-content-wrapper {
    padding-left: 2rem;
  }

  .about-content-wrapper a {
    width: 100%;
  }

  .news-container {
    padding-left: 20px;
    padding-top: 20px;
  }

  .news-detail-card img {
    width: 100%;
    height: 60%;
  }
}