.navbar-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    opacity: 0.7;
    top: 0;
    color: #dcdcdc;
    position: fixed;
    left: 0;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    z-index: 1000; /* Ensures navbar is above everything */
}

.logo-section {
    padding: 0.5em;
    will-change: filter;
    transition: filter 300ms;
    width: 50%;
    color: #dcdcdc;
    
    background-size: cover;
}

.menu {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2rem;
    width: 50%;

    a {
        text-decoration: none;
        color: #dcdcdc;
    }
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: aliceblue;
}

.white-architecture-logo {
    width: 150px;
    height: 39px;
}

/* MEDIA QUERIES FOR RESPONSIVE DESIGNS */
/* Responsive styles */
@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        gap: 10px;
    }

    .menu.open {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
}

@media (max-width: 480px) {
    .navbar-section {
        padding: 0.5rem;
    }

    .menu {
        flex-direction: column;
        gap: 1rem;
    }
}
