.services-contact-section {
    background-color: #eef3f7;
    color: #2d2b2b;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 150px;

    h1 {
        font-size: 81px;
    }

    div {
        height: fit-content;
    }

}


.content-header {
    position: relative;
    font-size: 16px;
    color: #333;
    font-weight: 500;
}
.content-header::before {
    content: "";
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: rgba(200, 200, 200, 0.3); /* Light faded circle */
    border-radius: 50%;
}

.content-header-wrapper {
    padding-bottom: 30px;
}

a {
    color: #6e7273 !important;
    text-decoration: none;
}

/* Responsive Design */
@media (max-width: 768px) {
    .services-contact-section {
        padding-left: 20px;

        h1 {
            font-size: 40px;
        }
    }

    .content-header {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .services-contact-section {
        padding-left: 10px;

        h1 {
            font-size: 30px;
        }
    }

    .content-header {
        font-size: 12px;
    }
}