.contact-details-cards {
    padding-left: 150px;

}

.contact-item {
    display: flex;
    padding-bottom: 70px;
}

.contact-image-wrapper {
    position: relative;
    display: inline-block;
    right: -18px;
    top: -18px;

    opacity: 0.2;
}

.contact-content-wrapper {
    z-index: 1;
}

.contact-header {
    position: relative;
    font-size: 16px;
    color: #333;
    font-weight: 500;
}
.contact-header::before {
    content: "";
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: rgba(200, 200, 200, 0.3); /* Light faded circle */
    border-radius: 50%;
}

.contact-header-wrapper {
    padding-bottom: 30px;
}


/* Responsive styles */
@media (max-width: 1200px) {
    .contact-details-cards {
        padding-left: 100px;
    }

    .contact-item {
        padding-bottom: 50px;
    }

    .contact-header {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .contact-details-cards {
        padding-left: 50px;
    }

    .contact-item {
        flex-direction: column;
        align-items: center;
        padding-bottom: 40px;
    }

    .contact-image-wrapper {
        right: 0;
        top: 0;
        margin-bottom: 20px;
    }

    .contact-header {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .contact-details-cards {
        padding-left: 20px;
    }

    .contact-item {
        padding-bottom: 30px;
    }

    .contact-header {
        font-size: 12px;
    }
}